html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
	margin: 0;
}

.profile {
	width: 300px;
	margin-bottom: 20px;
	margin-top: 60px;
	border-radius: 25%;
}

#intro {
	position: absolute;
	overflow: hidden;
	height: 500px;
	color: red;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.83;
	background: linear-gradient(#4dffd2 0%, #00e600 100%);
	display: table;
	width: 100%;
	height: 100%;
}

h1 {
	text-shadow: 2px 2px #F8BBD0;
	font-size: 40px;
	line-height: 1.2;
	font-family: fantasy;
	font-weight: 400;
}

#name {
	color: #512DA8;
	font-size: 40px;
	line-height: 1.2;
	font-family: cursive;
	font-weight: 400;
}

#about {
	margin-top: 625px;
	padding-top: 25px;
	padding-bottom: 15px;
	font-size: 40px;
	background: linear-gradient(#4287f5 0%, #da42f5 100%);
}

p {
	font-size: 17px;
	line-height: 1.3;
}

.parallax-inner {
	display: table-cell;
	position: relative;
	vertical-align: middle;
}

.menu {
	list-style: none;
	font-family: sans-serif;
	position: fixed;
	top: 10px;
	right: 30px;
	z-index: 10;
	cursor: pointer;
}

.links {
	padding-top: 15px;
	padding-bottom: 50px;
	padding-right: 9px;
	padding-left: 9px;
	float: left;
	color: blueviolet;
	font-size: 20px;
	font-family: monospace;
}

.links:hover {
	background-color: cornflowerblue;
}

h3 {
	text-shadow: 2px 2px #F8BBD0;
	font-size: 40px;
	line-height: 1.2;
	font-family: fantasy;
	font-weight: 400;
}

.img {
	transition: transform .2s;
	text-align: center;
}

.hobby_para {
	text-align: center;
}

#grid_gallery {
	text-align: center;
	width: 100%;
	height: 700px;
	background-color: coral;
}

#sliding_gallery {
	width: 100%;
	height: 700px;
	background-color: palevioletred;
	text-align: center;
}

.container {
	text-align: center;
}

#myCarousel {
	background-color: red;
	margin-right: 30px;
}

#myCarousel img {
	height: 300px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.carousel-inner p {
	margin-top: 15px;
	margin-bottom: 15px;
	color: burlywood;
	font-size: 20px;
}
.hobby_text {
	padding-bottom: 30px;
}
#ranks {
	margin-top: 25px;
}
.hobby_text span
{
    color: #FF7700;
}